---
import { Image } from '@astrojs/image/components';
import '../styles/style.scss';

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <main class="container">
      <header>
        <h1>{frontmatter.title}</h1>
        <nav>
          <a href="/">Fruits</a>
        </nav>
      </header>
      <article>
        <header>
          <Image
            src={frontmatter.image}
            format={'jpeg'}
            alt={frontmatter.title}
            height="600"
            width="1200"
            fit="cover"
            position="center"
            quality={100}
          />
        </header>
        <slot />
      </article>
    </main>
  </body>
</html>
